{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}

{% include "web/students/modals.html" %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Enquiry</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Students</li>
                        <li class="breadcrumb-item active">Enquiry List</li>
                    </ul>
                </div>
                <div class="col-auto float-end ms-auto">
                    <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_enquiry"><i
                            class="fa-solid fa-plus"></i> Add Enquiry</a>
                    <div class="view-icons">
                        <a href="{{ enquiry_list_path }}" class="list-view btn btn-link"><i
                                class="fa-solid fa-bars"></i></a>
                        <a href="{% url 'students:enquiry' %}" class="grid-view btn btn-link active"><i
                                class="fa fa-th"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
                <div class="input-block mb-3 form-focus select-focus">
                    <select id="selectStudent" name="select_student" class="select2 searchoption floating w-100">
                        <option value="">All</option>
                        {% for enquiries in all_enquiry %}
                            <option value="{{enquiries.id}}" {% if select_student == enquiries.id %}selected{% endif %}>{{ enquiries.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="focus-label">Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="input-block mb-3 form-focus select-focus">
                    <select id="selectCourse" name="select_course" class="select2 searchoption w-100 floating">
                        <option value="">All</option>
                        {% for course in courses %}
                            <option value="{{ course.id }}"  {% if select_course == course.id %}selected{% endif %}>{{ course.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="focus-label">Courses</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="d-grid">
                    <a href="#" class="btn btn-primary" onclick="enquiryFilter()"> Search </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="addenq" class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th id="inlineCheckbox1">Name</th>
                                <th> Contact No.</th>
                                <th>Course Interested</th>
                                <th> Discounted Fee </th>
                                <th>Enquiry Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in enquiry %}
                            <tr>
                                <td>
                                    <a href="#" class="edit-enquiry-link" data-bs-toggle="modal"
                                        data-bs-target="#edit_enquiry" data-enquiry-id="{{ item.id }}"
                                        data-name="{{ item.name}}" data-father-name="{{ item.father_name }}"
                                        data-mother-name="{{ item.mother_name }}" data-dob="{{ item.dob }}"
                                        data-gender="{{ item.gender }}" data-address="{{ item.address }}"
                                        data-pincode="{{ item.pincode }}" data-contact-no="{{ item.contact_no }}"
                                        data-whatsapp-no="{{ item.whatsapp_no }}" data-email="{{ item.email }}"
                                        data-course-interested="{{ item.course_interested.id }}"
                                        data-discounted-fee="{{ item.discounted_fee }}"
                                        data-education="{{ item.education}}"
                                        data-enquiry-date="{{ item.enquiry_date }}">{{ item.name }}
                                    </a>
                                </td>
                                <td>{{ item.contact_no}}</td>
                                <td>{{ item.course_interested }}</td>
                                <td>{{ item.discounted_fee }}</td>
                                <td>{{ item.enquiry_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="current">
                            Page {{ enquiry.number }} of {{ enquiry.paginator.num_pages }}.
                        </span>
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="step-links">
                            {% if enquiry.has_previous %}
                                <a href="?type={{ page_type }}&page=1" class="btn btn-primary">&laquo; First</a>
                                <a href="?type={{ page_type }}&page={{ enquiry.previous_page_number }}" class="btn btn-primary">Previous</a>
                            {% endif %}

                            {% if enquiry.has_next %}
                                <a href="?type={{ page_type }}&page={{ enquiry.next_page_number }}" class="btn btn-primary">Next</a>
                                <a href="?type={{ page_type }}&page={{ enquiry.paginator.num_pages }}" class="btn btn-primary">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function displayMessages() {
        {% for message in messages %}
            toastr.remove();
            toastr.{{ message.tags }}("{{ message }}");
        {% endfor %}
    }
</script>

{% endblock %}